<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oop.petrehome">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_r"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetRehome">
        <activity android:name="LostDogs.Display_LD_AD"></activity>
        <activity android:name="LostDogs.MyLDListning" />
        <activity android:name="LostDogs.EditLDListning" />
        <activity android:name="LostDogs.DogLDListing" />

        <activity android:name="LostDogs.LDHome" />
        <activity android:name="PostAd.EditDogListing" />
        <activity android:name="PostAd.DisplayDogAd" />
        <activity android:name="PostAd.MyListings" />
        <activity android:name="PostAd.DogListing" />
        <activity android:name="user.EditUserProfile" />
        <activity android:name="user.UserProfile" />
        <activity android:name="user.Login" />
        <activity android:name="user.Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>